@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
:root {
    /* principal - cor de relevo do nosso logo, hover - cor utiliza para elementos com hover effect */
    --principal: #00C975;
    --principal-hover: #00DE81;
    /* Cores darkmode */
    --darkmode1: #23272A;
    --darkmode2: #2c2f33;
    /* Cores lightmode */
    --lightmode1: #DCDCDC;
    --lightmode2: #fff;    
}

body {
    background-color: var(--darkmode1) !important;
    margin: 0;
    padding: 0;
    color: var(--lightmode1);
}


* {
    font-family: 'Inter', sans-serif;
}

/* Bootstrap & Padrões */
.btn-padrao {
    font-size: 0.9rem !important;
    letter-spacing: 0.05rem !important;
    padding: 0.75rem 1rem !important;
    background-color: var(--principal) !important;
    border-color: var(--principal) !important;
}

.btn-login:hover {
    background-color: var(--principal-hover) !important;
    border-color: var(--principal) !important;
    color: var(--darkmode1) !important;
}

.form-check-label {
    color: white !important;
}

.form-floating {
    color: var(--darkmode1);
}

.form-check-input:checked {
    border-color: var(--principal) !important;
    background-color: var(--principal-hover) !important;
}

/* Sweet Alerts edita */
.swal2-styled.swal2-confirm {
    background-color: var(--principal) !important;
}

.swal2-popup {
    background-color: var(--darkmode2) !important;

}
.swal2-title, .swal2-html-container {
    color: white !important;
}



/**/
.busca-paciente-container {
    width: 100%;
}

.btn-bscpac {
    width: 100% !important;
}

.form-select {
    -moz-padding-start: .725rem !important;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%
}

.w-10 {
    width: 10%;
}

.w-40 {
    width: 40%;
}

.w-5 {
    width: 5%;
}

.errmsg {
    color: red !important;
    border-color: red !important;
}

.form-control:disabled {
    background-color: rgba(211, 211, 211, 0.979) !important;
}
