.paginate_button {
    --bs-pagination-active-bg: var(--principal-hover) !important;
    --bs-pagination-active-border-color: var(--principal) !important;
    --bs-pagination-disabled-border-color: var(--principal) !important;
    --bs-pagination-active-color: var(--darkmode1) !important;
    --bs-pagination-disabled-color: var(--lightmode1) !important;
    --bs-pagination-focus-bg: var(--darkmode2) !important;
    --bs-pagination-disabled-bg: var(--darkmode2) !important;
}

.form-select-sm, .form-control-sm {
    padding: .375rem 2.25rem .375rem .75rem !important;
    font-size: 1rem !important;
    border-radius: var(--bs-border-radius) !important;
}

.pagination {
    --bs-pagination-color: var(--darkmode1);
    --bs-pagination-focus-color: var(--principal-hover) !important;
    --bs-pagination-focus-box-shadow: 0 0 0 0 rgba(63, 255, 15, 0.027);
}

.page-link {
    border: transparent !important;
    background-color: var(--darkmode2);
    color: var(--lightmode1);
}

.page-link:hover {
    border: transparent;
    background-color: var(--principal-hover);
    color: var(--darkmode1);
}

