@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    /* principal - cor de relevo do nosso logo, hover - cor utiliza para elementos com hover effect */
    --principal: #00C975;
    --principal-hover: #00DE81;
    /* Cores darkmode */
    --darkmode1: #23272A;
    --darkmode2: #2c2f33;
    /* Cores lightmode */
    --lightmode1: #DCDCDC;
    --lightmode2: #fff;
    /* Animação */
    --transicao-velocidade: 600ms;
    
}

body {
    background-color: var(--darkmode1) !important;
    margin: 0;
    padding: 0;
    color: var(--lightmode1);
}


* {
    font-family: 'Inter', sans-serif;
}

